<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 th:text="${personalValue}"/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="personal: ${personalList}" >
        <td th:text="${personal.name}">
        <td th:text="${personal.lastname}">
        <td th:text="${personal.age}">
        <td th:text="${personal.salary}">
    </tr>
    </tbody>
</table>

</body>
</html>